.container {
  text-align: center;
  height: 100vh;
}
.contentDiv p {
  padding-left: 20px;
  border-radius: 10px;
  background-color: transparent;
  font-family: open-sans, Roboto, Arial, sans-serif;
  color: azure;
}
